### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [4]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [5]:
players_df = purchase_data.loc[:,["Purchase ID", "Age"]]
players_df


num_players = players_df.count()[0]
num_players

players_df_final = pd.DataFrame({
    
                                "Total Players": [num_players]

                                })

players_df_final

   Total Players
0            780

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
average_item_price = purchase_data["Price"].mean()
total_purchase_value = purchase_data["Price"].sum()
purchase_count = purchase_data ["Price"].count()
item_count = len(purchase_data ["Item ID"].unique())

#DataFrame
summary_table = pd.DataFrame({
                             "Number of Unique Items": item_count, 
                             "Average Price": [average_item_price],  
                             "Number of Purchases": [purchase_count],
                             "Total Revenue": [total_purchase_value]                       
                                                          
                             })
summary_table

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [7]:
gender_demographic_total = purchase_data["Gender"].value_counts()
gender_demographic_percent = gender_demographic_total / num_players


gender_demographics = pd.DataFrame({
                                    "Total Count": gender_demographic_total,
                                    "Percentage of Players": gender_demographic_percent
    
    
})

gender_demographics ["Percentage of Players"] = gender_demographics ["Percentage of Players"].map("{:,.2%}".format)
gender_demographics

                       Total Count Percentage of Players
Male                           652                83.59%
Female                         113                14.49%
Other / Non-Disclosed           15                 1.92%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
gender_total = purchase_data.groupby(["Gender"]).count()["Price"].rename("Purchase Count")

gender_purchase_total = purchase_data.groupby(["Gender"]).sum()["Price"].rename("Total Purchase Value")

gender_purchase_average = purchase_data.groupby(["Gender"]).mean()["Price"].rename("Average Purchase Price")
   
average_per_person = gender_purchase_total / gender_demographics["Total Count"] 

gender_summary = pd.DataFrame({
                                    "Purchase Count": gender_total,
                                    "Average Purchase Price": gender_purchase_average,
                                    "Total Purchase Value": gender_purchase_total,
                                    "Avg Total Purchase Per Person": average_per_person
      
    
})

gender_summary

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Gender,,,,
Female,113,3.203009,361.94,3.203009
Male,652,3.017853,1967.64,3.017853
Other / Non-Disclosed,15,3.346000,50.19,3.346000

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [44]:
purchase_data.dtypes
print(purchase_data.dtypes)

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [2]:
age_bins = [0, 9.94, 14.94, 19.94, 24.94, 29.94, 34.94, 39.94, 9999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data["New Column"] =pd.cut(purchase_data["Age"], age_bins, labels=group_names)

variable1 = purchase_data.groupby["New Column"].value_counts()["Age"]

variable2 = variable1/ num_players


age_demographic = pd.DataFrame({
                            "Total Count":variable1,
                            "Percentage of Players": variable2
    
})

age_demographic

NameError: name 'pd' is not defined

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [26]:
purchase_data["Age"] = pd.cut(purchase_data["Age"], age_bins, labels = group_names)

age_purchase_total = purchase_data.groupby["Age"]
age_average = purchase_data.groupby(["Age"]).mean()
age_count = purchase_data.groupby(["Age"].count()
                                  
normalized_total = age_purchase_total / age_demographic ["Total Count"]

age_data = pd.DataFrame({
                            "Purchase Count": age_count
                            "Average Purchase Price": age_average
                            "Total Purchase value": age_purchase_total
                            "Normalized Totals": normalized_total    
    
})
                                  
age_data

SyntaxError: invalid syntax (<ipython-input-26-818675969146>, line 7)

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [31]:
user_total = purchase_data.groupby(["SN"]).sum()["Price"].rename("Total Purchase Value")
user_average = purchase_data.groupby(["SN"]).mean()["Price"].rename("Average Purchase Price")
user_count = purchase_data.groupby(["SN"]).count()["Price"].rename("Purchase Count")

user_data = pd.DataFrame({
    
    
                        "Total Purchase Value": user_total,
                        "Average  Purchase Price": user_average,
                        "Purchase Count": user_count


})

user_sorted = user_data.sort_values("Total Purchase Value", ascending = False)

user_sorted.head()

             Total Purchase Value  Average  Purchase Price  Purchase Count
SN
Lisosia93                   18.96                 3.792000               5
Idastidru52                 15.45                 3.862500               4
Chamjask73                  13.83                 4.610000               3
Iral74                      13.62                 3.405000               4
Iskadarya95                 13.10                 4.366667               3

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [40]:
item_data = purchase_data[["Item ID", "Item Name", "Price"]]

total_item_purchase = item_data.groupby(["Item ID", "Item Name"]).sum()["Price"].rename("Total Purchase Price")
average_item_purchase =  item_data.groupby(["Item ID", "Item Name"]).mean() ["Price"].rename("")
item_count = item_data.groupby(["Item ID", "Item Name"]).count()["Price"].rename("Purchase Count")

item_df = pd.DataFrame({
    
                        "Purchase Count": item_count,
                        "Average Item Price": average_item_purchase,
                        "Total Purchase Value": total_item_purchase
    
})

item_df_sorted = item_df.sort_values("Purchase Count", ascending = False)
item_df_sorted.head(5)

,,Purchase Count,Average Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
145,Fiery Glass Crusader,9,4.580000,41.22
132,Persuasion,9,3.221111,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.530000,31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [42]:
item_df_sorted = item_df.sort_values("Total Purchase Value", ascending = False)
item_df_sorted.head(5)

,,Purchase Count,Average Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
82,Nirvana,9,4.900000,44.10
145,Fiery Glass Crusader,9,4.580000,41.22
103,Singed Scalpel,8,4.350000,34.80

In [ ]:
#Analysis Based off of Python code


#Males tended to have a lower average purchasing price.
#Males play significantly more video games by gender.
#Males nearly purchased 5x more than females.